/* Core Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500;1,800&display=swap");
.azul {
  color: #3912af; }

.amarillo {
  color: #f2ff29; }

.celeste {
  color: #8fffff; }

.fucsia {
  color: #da00b5; }

.rosado {
  color: #ff99ff; }

.lila {
  color: #ab2eff; }

/* Media Queries */
/* RESPONSIVE MIXINS */
/* Body Imports */
.PORTADA {
  background-image: url(../images/bg-portada.jpg);
  background-position: top center;
  color: white;
  padding: 0; }
  @media (min-width: 768px) {
    .PORTADA {
      padding: 0; } }
  @media (min-width: 992px) {
    .PORTADA {
      padding: 0; } }
  @media (min-width: 1200px) {
    .PORTADA {
      padding: 0; } }
  .PORTADA .container {
    padding: 2em 0; }
    @media (min-width: 768px) {
      .PORTADA .container {
        padding: 3em 0; } }
    @media (min-width: 768px) {
      .PORTADA .container {
        padding: 4em 0; } }
    @media (min-width: 768px) {
      .PORTADA .container {
        padding: 5em 0; } }
  .PORTADA .logo {
    padding-right: 1em; }
    .PORTADA .logo img {
      width: 100%; }

@media (min-width: 992px) {
  .ZGO {
    font-size: .75em; } }
.ZGO h1 {
  margin-bottom: 0; }
.ZGO .form-control {
  font-size: 1.11em;
  text-align: center;
  background: none;
  border: none;
  border-bottom: solid 0.1em #f2ff29;
  outline: none;
  color: white;
  border-radius: 0; }
  .ZGO .form-control::placeholder {
    color: rgba(255, 255, 255, 0.75); }
.ZGO select {
  text-align-last: center; }
  .ZGO select optgroup {
    color: black; }
  .ZGO select option {
    color: black; }
.ZGO button {
  border: none; }
.ZGO .Title2 {
  margin-top: 1.5em; }
  @media (min-width: 992px) {
    .ZGO .Title2 {
      margin-top: 0; } }

#appdpdc {
  margin-top: 1em; }
  #appdpdc a {
    color: white;
    text-decoration: underline;
    font-size: 1em; }
  #appdpdc .form-check {
    position: relative; }
  #appdpdc input {
    left: 2.25em;
    top: .25em; }

.ZTENDENCIAS {
  color: #da00b5; }
  .ZTENDENCIAS .accordion {
    color: #3912af;
    margin: 2em 0; }
  .ZTENDENCIAS button {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 1em 0;
    margin: 0 auto; }
  .ZTENDENCIAS .Title3 {
    margin: 0 auto; }
    .ZTENDENCIAS .Title3 img {
      margin-left: .1em;
      height: .75em;
      position: relative;
      top: -.1em; }
  .ZTENDENCIAS .acc-content {
    border-radius: 1em;
    width: 100%;
    display: flex;
    align-items: stretch;
    margin: 2em 0;
    overflow: hidden;
    border-left: solid 0.5em #da00b5;
    border-right: solid 0.5em #8fffff;
    flex-direction: column; }
    @media (min-width: 992px) {
      .ZTENDENCIAS .acc-content {
        flex-direction: row; } }
  .ZTENDENCIAS .foto {
    object-fit: cover;
    width: 100%;
    max-width: 273px;
    margin: 0 auto;
    border-radius: 0 0 1em 1em; }
    @media (min-width: 992px) {
      .ZTENDENCIAS .foto {
        border-radius: 0 1em 1em 0; } }
  .ZTENDENCIAS .contenido {
    font-size: 1.11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em; }
    @media (min-width: 768px) {
      .ZTENDENCIAS .contenido {
        padding: 1em 2em; } }
    @media (min-width: 992px) {
      .ZTENDENCIAS .contenido {
        text-align: left; } }
    .ZTENDENCIAS .contenido p {
      margin-bottom: 0; }
  .ZTENDENCIAS a {
    width: 100%; }
    .ZTENDENCIAS a:hover {
      text-decoration: none; }
  .ZTENDENCIAS .accordionH4 {
    font-size: 2rem;
    margin-bottom: 0; }
  .ZTENDENCIAS .accordionH5 {
    font-size: 1rem; }

.ZBYU {
  background-image: url(../images/bg-zbyu.jpg);
  color: white; }
  .ZBYU .slogan {
    font-weight: 500;
    margin-top: 2em; }

.Z4U {
  background-image: url(../images/bg-z4u.jpg);
  color: white; }
  .Z4U .beneficio {
    margin: 1rem 0; }
    @media (min-width: 768px) {
      .Z4U .beneficio {
        margin: 2rem 0; } }
  .Z4U .texto {
    line-height: 1.2;
    /* strong {display: block;} */ }
  .Z4U .slickZona4U {
    /* Flechas */
    /* Borrar border al arrastrar slide */
    /* CSS para Flechas */ }
    .Z4U .slickZona4U .slick-prev:before, .Z4U .slickZona4U .slick-next:before {
      color: #f2ff29 !important;
      opacity: 1 !important; }
    .Z4U .slickZona4U .slick-prev::before {
      font-size: 30px !important; }
    .Z4U .slickZona4U .slick-next::before {
      font-size: 30px !important; }
    .Z4U .slickZona4U .slick-slide {
      outline: none; }
    .Z4U .slickZona4U .slide-arrow {
      position: absolute;
      top: 50%;
      margin-top: -15px; }
    .Z4U .slickZona4U .prev-arrow {
      left: -40px; }
    .Z4U .slickZona4U .next-arrow {
      right: -40px; }
    .Z4U .slickZona4U .card {
      background-color: transparent;
      border: 0; }
      .Z4U .slickZona4U .card .card-img-top {
        height: 150px; }
      .Z4U .slickZona4U .card .Title3 {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 800;
        padding: .15em .5em;
        border-radius: .5em;
        border-left: solid 0.3em #f2ff29;
        border-right: solid .3em white; }
      .Z4U .slickZona4U .card .description {
        font-size: 1.1rem;
        padding: 0 .5em; }

.ZLIVE {
  color: #da00b5; }
  .ZLIVE .shows {
    font-size: 1.61em;
    font-weight: 800;
    color: #3912af;
    margin: 1rem 0; }
    @media (min-width: 768px) {
      .ZLIVE .shows {
        margin: 2rem 0; } }
    .ZLIVE .shows figcaption {
      display: inline-block;
      padding: .15em .5em;
      border-radius: .5em;
      border-left: solid 7px #8fffff;
      border-right: solid 7px #da00b5; }
      .ZLIVE .shows figcaption .diaInfo {
        display: inline-block;
        font-size: 1rem;
        line-height: 1; }
  .ZLIVE .show-img {
    display: block;
    margin: 0 auto;
    height: 100%;
    max-height: 230px;
    margin-bottom: 1em; }
  .ZLIVE .slogan {
    font-weight: 500; }
  @media (min-width: 576px) and (max-width: 767px) {
    .ZLIVE .colEvento {
      margin: .5rem 0;
      /* 576px - 767px */ } }
  @media (min-width: 320px) and (max-width: 575px) {
    .ZLIVE .colEvento {
      margin: .5rem 0;
      /* 320px -575px */ } }
  .ZLIVE .boxDia {
    width: 90%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center; }
    @media (min-width: 576px) and (max-width: 767px) {
      .ZLIVE .boxDia {
        width: 100%;
        /* 576px - 767px */ } }
    @media (min-width: 320px) and (max-width: 575px) {
      .ZLIVE .boxDia {
        width: 100%;
        /* 320px -575px */ } }
    .ZLIVE .boxDia.box1 {
      background-image: url(../images/zona-live-1.png); }
    .ZLIVE .boxDia.box2 {
      background-image: url(../images/zona-live-2.png);
      margin-left: 2rem; }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia.box2 {
          margin-left: 0;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia.box2 {
          margin-left: 0;
          /* 320px -575px */ } }
    .ZLIVE .boxDia.box3 {
      background-image: url(../images/bg-zona-live-3.png);
      margin-left: 4rem; }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia.box3 {
          margin-left: 0;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia.box3 {
          margin-left: 0;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .boxInfo {
      margin: 1rem 0; }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia .boxInfo {
          margin: .5rem 0;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia .boxInfo {
          margin: .5rem 0;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .diaH3 {
      font-size: 3.8rem;
      margin: 0 4rem; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .ZLIVE .boxDia .diaH3 {
          font-size: 2.5rem;
          margin: 0 2rem;
          white-space: nowrap;
          /* 992px - 1199px */ } }
      @media (min-width: 768px) and (max-width: 991px) {
        .ZLIVE .boxDia .diaH3 {
          font-size: 2.5rem;
          margin: 0 2rem;
          white-space: nowrap;
          /* 768px - 991px */ } }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia .diaH3 {
          font-size: 1.4rem;
          margin: 0 2rem;
          white-space: nowrap;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia .diaH3 {
          font-size: 1.4rem;
          margin: 0 2rem;
          white-space: nowrap;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .diaH4 {
      font-size: 2.4rem;
      margin: 0;
      text-align: left;
      line-height: 1;
      font-weight: bold; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .ZLIVE .boxDia .diaH4 {
          font-size: 2rem;
          /* 992px - 1199px */ } }
      @media (min-width: 768px) and (max-width: 991px) {
        .ZLIVE .boxDia .diaH4 {
          font-size: 2rem;
          /* 768px - 991px */ } }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia .diaH4 {
          font-size: 1rem;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia .diaH4 {
          font-size: 1rem;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .diaH4-large {
      font-size: 2.2rem;
      margin: 0;
      text-align: left;
      line-height: 1;
      font-weight: bold; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .ZLIVE .boxDia .diaH4-large {
          font-size: 2rem;
          /* 992px - 1199px */ } }
      @media (min-width: 768px) and (max-width: 991px) {
        .ZLIVE .boxDia .diaH4-large {
          font-size: 2rem;
          /* 768px - 991px */ } }
      @media (min-width: 576px) and (max-width: 767px) {
        .ZLIVE .boxDia .diaH4-large {
          font-size: 1rem;
          /* 576px - 767px */ } }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia .diaH4-large {
          font-size: 1rem;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .infoHR {
      width: 150px;
      height: 1px;
      margin: 0;
      background-color: white; }
      @media (min-width: 320px) and (max-width: 575px) {
        .ZLIVE .boxDia .infoHR {
          width: 50px;
          /* 320px -575px */ } }
    .ZLIVE .boxDia .boxHora {
      display: flex;
      align-items: center; }
      .ZLIVE .boxDia .boxHora .horaSPAN {
        font-size: 2rem;
        margin-left: 1rem; }
        @media (min-width: 992px) and (max-width: 1199px) {
          .ZLIVE .boxDia .boxHora .horaSPAN {
            font-size: 1.5rem;
            /* 992px - 1199px */ } }
        @media (min-width: 768px) and (max-width: 991px) {
          .ZLIVE .boxDia .boxHora .horaSPAN {
            font-size: 1rem;
            /* 768px - 991px */ } }
        @media (min-width: 576px) and (max-width: 767px) {
          .ZLIVE .boxDia .boxHora .horaSPAN {
            font-size: 1rem;
            /* 576px - 767px */ } }
        @media (min-width: 320px) and (max-width: 575px) {
          .ZLIVE .boxDia .boxHora .horaSPAN {
            font-size: 1rem;
            /* 320px -575px */ } }
  .ZLIVE .next {
    margin: 3rem 0; }

.ZCHALLENGE {
  background-image: url(../images/bg-challenge.jpg);
  color: white;
  padding: 5rem 0 8rem; }
  .ZCHALLENGE .row {
    padding-bottom: 2em; }
    @media (min-width: 768px) {
      .ZCHALLENGE .row {
        padding-bottom: 3em; } }
    @media (min-width: 768px) {
      .ZCHALLENGE .row {
        padding-bottom: 4em; } }
    @media (min-width: 768px) {
      .ZCHALLENGE .row {
        padding-bottom: 5em; } }
  .ZCHALLENGE .modelo {
    width: 40rem;
    bottom: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .ZCHALLENGE .modelo {
        display: none !important;
        /* 768px - 991px */ } }
    @media (min-width: 576px) and (max-width: 767px) {
      .ZCHALLENGE .modelo {
        display: none !important;
        /* 576px - 767px */ } }
    @media (min-width: 320px) and (max-width: 575px) {
      .ZCHALLENGE .modelo {
        display: none !important;
        /* 320px -575px */ } }
  .ZCHALLENGE .img {
    width: 90%;
    margin: 1em 0 2em; }
    @media (min-width: 768px) {
      .ZCHALLENGE .img {
        margin: 2em 0; } }
  .ZCHALLENGE .Title2 {
    line-height: 1; }
  .ZCHALLENGE .texto {
    font-size: 1.4rem; }

.FOOTER {
  background-image: url(../images/bg-footer.jpg);
  color: white; }
  .FOOTER .adorno {
    pointer-events: none;
    position: absolute;
    z-index: 0; }
  .FOOTER .a1 {
    top: 0;
    right: 100%; }
  .FOOTER .a2 {
    top: calc(50% - 30px);
    left: 100%; }
  .FOOTER .btn-CTA {
    margin-bottom: 0; }
  .FOOTER .slogan {
    font-size: 3rem;
    display: inline-block;
    line-height: 1; }
    @media (min-width: 320px) and (max-width: 575px) {
      .FOOTER .slogan {
        font-size: 1rem;
        /* 320px -575px */ } }
    .FOOTER .slogan .sloganSPAN {
      font-size: 1.8rem;
      display: block;
      line-height: 1.1; }
      @media (min-width: 320px) and (max-width: 575px) {
        .FOOTER .slogan .sloganSPAN {
          font-size: 1rem;
          display: unset;
          /* 320px -575px */ } }
    .FOOTER .slogan .span2 {
      font-size: 2.2rem; }
      @media (min-width: 320px) and (max-width: 575px) {
        .FOOTER .slogan .span2 {
          font-size: 1rem;
          /* 320px -575px */ } }
  .FOOTER .fecha {
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    padding: 0em 0.25em;
    border-radius: 0.4em;
    border-left: solid 0.15em #f2ff29;
    border-right: solid 0.15em #f2ff29; }
    @media (min-width: 320px) and (max-width: 575px) {
      .FOOTER .fecha {
        font-size: 1rem;
        /* 320px -575px */ } }

* {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: 'Montserrat';
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -.05em; }
  @media (min-width: 768px) {
    body {
      font-size: 14px; } }
  @media (min-width: 768px) {
    body {
      font-size: 16px; } }
  @media (min-width: 992px) {
    body {
      font-size: 17px; } }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

section, footer {
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2em 0; }
  @media (min-width: 768px) {
    section, footer {
      padding: 3em 0; } }
  @media (min-width: 992px) {
    section, footer {
      padding: 4em 0; } }
  @media (min-width: 1200px) {
    section, footer {
      padding: 5em 0; } }

.Title2 {
  font-size: 3.75em; }
  @media (min-width: 576px) {
    .Title2 {
      font-size: 4.4em; } }
  .Title2 span {
    line-height: 1;
    display: block; }
    @media (min-width: 768px) {
      .Title2 span {
        display: inline-block; } }

.Title3 {
  font-size: 1.61em; }

h1, h2, h3, strong, .btn-CTA {
  font-weight: 800;
  margin-bottom: .75rem; }

.texto {
  font-size: 1.44em; }

.slogan {
  font-weight: 800;
  font-size: 1.67em; }

.oculto {
  position: absolute;
  left: -9000%; }

.container {
  position: relative; }

.btn-CTA {
  box-shadow: 0 0 0 2px #f2ff29;
  background: rgba(0, 0, 0, 0.46);
  display: inline-block;
  border-radius: 1.5em;
  padding: .5em 1.25em;
  transition: all .3s;
  margin-top: 1.5em;
  margin-bottom: 0;
  color: white;
  margin-bottom: 2em;
  font-size: 1.2em; }
  @media (min-width: 576px) {
    .btn-CTA {
      font-size: 1.35em; } }
  .btn-CTA:hover {
    color: #3912af;
    background: #f2ff29;
    text-decoration: none;
    transform: scale(1.1); }

.next {
  position: absolute;
  left: calc(50% - 1.75em);
  bottom: 1em; }
  .next img {
    width: 3.5em; }

.modelo {
  position: absolute;
  pointer-events: none;
  z-index: 1; }

.INFORMACION .countdown {
  font-weight: 800;
  text-shadow: 0 0 0.2em rgba(225, 226, 166, 0.74);
  font-size: 4em; }
  @media (min-width: 576px) {
    .INFORMACION .countdown {
      font-size: 6.5em; } }
.INFORMACION .info {
  color: #f2ff29;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-align: center;
  flex-direction: column;
  margin: 1em 0; }
  @media (min-width: 768px) {
    .INFORMACION .info {
      text-align: left;
      flex-direction: row;
      margin: 2em 0; } }
  .INFORMACION .info:last-child {
    margin: 1em 0 3em; }
    @media (min-width: 1200px) {
      .INFORMACION .info:last-child {
        margin: 2em 0; } }
  .INFORMACION .info p {
    margin-bottom: 0; }
@media (min-width: 320px) and (max-width: 575px) {
  .INFORMACION .slogan br {
    display: none;
    /* 320px -575px */ } }

.REGISTRO .FOOTER .btn-CTA {
  display: none; }
